{% extends 'base.html' %}

{% block content %}
<h2>Add a New Branch</h2>


<!-- Branch Form -->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_name">Branch Name</label>
        {{ form.name }}
        {% if form.name.errors %}
            <div class="alert alert-danger">
                {% for error in form.name.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary">Add Branch</button>
</form>

{% endblock %}
